<header class="bg-slate-50 relative overflow-hidden">
  <!-- Background Image -->
  <div class="absolute inset-0 z-0">
    <img [src]="heroImage" alt="Tesla Car" class="w-full h-full object-cover opacity-90" />
  </div>

  <app-navbar></app-navbar>

  <div class="pt-24 px-6 lg:px-16 py-6 relative z-10 text-black">

    <!-- VIDEO SECTION -->
    <section class="mt-8 w-full">
      <div class="w-full rounded-2xl overflow-hidden shadow-lg flex justify-center">
        <a data-pin-do="embedPin" data-pin-width="large" href="https://pin.it/7mhXqO7T4">
        </a>
      </div>
    </section>

    <!-- HERO SECTION -->
    <section class="mt-16 flex flex-col lg:flex-row items-center justify-between gap-12">

      <!-- Text -->
      <div class="max-w-xl">
        <h1 class="text-4xl lg:text-5xl font-bold leading-tight text-black font-gravitas">
          Find the Car <br />
          You Deserve
        </h1>

        <p class="text-black mt-4">
          Browse thousands of certified vehicles with a 7-day
          money-back guarantee. Quality you can trust, prices you'll love.
        </p>

        <div class="mt-6 flex gap-4">
          <button routerLink="/cars"
            class="cursor-pointer bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700">
            Browse Inventory
          </button>

          <button routerLink="/how-it-works"
            class="cursor-pointer border border-slate-300 px-6 py-3 rounded-lg hover:bg-slate-100">
            How it Works
          </button>
        </div>
      </div>


    </section>
    <!-- SEARCH BAR -->
    <section class="cursor-pointer relative z-10 -mt-z bg-white rounded-2xl shadow-lg px-6 py-6
       flex flex-col lg:flex-row items-center gap-6 mt-10">

      <!-- Condition -->
      <div class="cursor-pointer flex flex-col w-full lg:w-1/5">
        <span class="text-xs text-black uppercase">Condition</span>
        <select class="mt-1 font-medium outline-none">
          @for (c of conditions; track c) {
          <option>{{ c }}</option>
          }
        </select>
      </div>

      <!-- Make -->
      <div class="cursor-pointer flex flex-col w-full lg:w-1/5 border-l lg:pl-6 ">
        <span class="text-xs text-black uppercase">Make</span>
        <select class="mt-1 font-medium outline-none">
          @for (m of makes; track m) {
          <option>{{ m }}</option>
          }
        </select>
      </div>

      <!-- Model -->
      <div class="cursor-pointer flex flex-col w-full lg:w-1/5 border-l lg:pl-6">
        <span class="text-xs text-black uppercase">Model</span>
        <select class="mt-1 font-medium outline-none">
          @for (m of models; track m) {
          <option>{{ m }}</option>
          }
        </select>
      </div>

      <!-- Price -->
      <div class="cursor-pointer flex flex-col w-full lg:w-1/5 border-l lg:pl-6">
        <span class="text-xs text-black uppercase">Price Range</span>
        <select class="mt-1 font-medium outline-none">
          @for (p of priceRanges; track p) {
          <option>{{ p }}</option>
          }
        </select>
      </div>

      <!-- Button -->
      <button routerLink="/cars" class="cursor-pointer w-full lg:w-auto bg-slate-900 text-white px-8 py-4 rounded-xl
         hover:bg-slate-800 transition font-medium">
        Search 12,403 Cars
      </button>

    </section>


    <!-- BRANDS -->
    <section class="mt-16 overflow-hidden">
      <div class="brand-marquee">
        <div class="brand-marquee-wrapper">
          <div class="brand-marquee-content">
            @for (icon of brandIcons; track $index) {
            <img [src]="icon" alt="Brand" class="h-8 grayscale hover:grayscale-0 transition mx-8" />
            }
          </div>
          <div class="brand-marquee-content" aria-hidden="true">
            @for (icon of brandIcons; track $index) {
            <img [src]="icon" alt="Brand" class="h-8 grayscale hover:grayscale-0 transition mx-8" />
            }
          </div>
        </div>
      </div>
    </section>



  </div>
</header>