.brand-marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0.7;
  display: block;
}

.brand-marquee-wrapper {
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.brand-marquee-content {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex-shrink: 0;
  gap: 2rem;
}

.brand-marquee-content img {
  flex-shrink: 0;
  height: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
