/* Navbar styles */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
<<<<<<<<< Temporary merge branch 1
  animation: spin-slow 1ms  linear infinite;
=========
  animation: spin-slow 600ms linear infinite;
>>>>>>>>> Temporary merge branch 2
}